.all {
  background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('coringa.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  margin-top: 0;
}

