@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

@keyframes upthenscale {
  0% {
    transform: translateY(250px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }

  100% {
    height:  250px;
    width: 100%;
    transform: translateY(0);
  }
}

@keyframes scalethendown {
  0% {
    height:  250px;
    width: 100%;
    transform: translateY(0);
  }

  50% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
  }
}

@keyframes waitfade {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(55px) rotate(0);
  }

  25% {
    transform: translateY(55px) rotate(2deg);
  }

  50% {
    transform: translateY(55px) rotate(0deg);
  }

  75% {
    transform: translateY(55px) rotate(-2deg);
  }

  100% {
    transform: translateY(55px) rotate(0);
  }
}

.letter {
  max-width: 700px;
  position: relative;
  display: block;
  color: rgb(60,60,60);
  text-decoration: none;
  &:hover{
    color: rgb(20,20,20);
  }

}

.envelope {
  height: 150px;
  background: #f36363;
  position: relative;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.3s ease;
  transform: translateY(55px);
  animation: wiggle 0.3s 0.2s infinite;
  &:hover {
    animation: pause;
    & .envelope-paper {
        transform: translateY(-45px);
    }
    & .envelope-flap {
      transform: translateY(-55px);
    }
    & .envelope-detail::after {
      visibility: hidden;
    }
  }
}

.envelope-paper {
  width: 100%;
  height: 45px;
  background: rgb(241, 240, 150);
  transform: translateY(0);
  margin: 0 auto;
  transition: transform 0.3s 0.1s ease;
  border-radius: 2px;
  position: absolute;
  border: 5px solid transparent;
}

.envelope-flap {
  content: '';
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 100px solid #f36363;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transform: translateY(0);
}

.envelope-detail {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background: #f36363;
    border-top: 2px solid transparent;
    &:before {
    content: '';
    width: 200px;
    height: 200px;
    background: #f36363;
    display: inline-block;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
  &:after {
    content: '';
    width: 90px;
    height: 90px;
    background: #f36363;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
}

.envelope__fold {
  height: 100px;
  width: 172px;
  background: #f36363;
  border: 4px solid #e65454;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.env {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-family: 'Mate SC', serif;
}

.link {
  margin-left: auto;
  margin-right: auto;
}
